/*Style_Sheet_Text*/

.col{
	display:grid;
	grid-template-columns: auto;
	gap:0px;
	margin:0;
	padding-top: 20px;
	padding-bottom: 50px;
	justify-content: center;
	align-items:center;
	z-index:3;
}

.block{
	position:relative;
	width:50vw;
	height:100%;
	border-radius:10px;
	margin-bottom:20px;
	overflow:hidden;
	z-index:3;
	opacity:1;
	
}

.text_title{
	font-size:40px;
	color:#fff;
	text-align:center;

}
.text_subtitle{
	font-size:30px;
	color:#fff;

}
.text_body{
	font-size:30px;
	color:#fff;
	text-align: center;

	margin-left:60px;
	margin-right:60px;
}

/* Media Query for Smaller Screens */
  @media (max-width: 1100px) {
            .block {
                width: 90vw;
                height:100%;
            }
            .text_body{
            	margin-left:30px;
            	margin-right:30px;
            	text-align: center;
            }
            .container img {
            flex: 1 1 100%;
            }
        }